.jstree-leaf.hidden, .jstree-open.hidden{
	display: none !important;
}
#productivity-project-files-search-bar{
    background: 0.5rem/0.75rem no-repeat url('search.svg') rgba(0, 0, 0, 0.33);
    padding-left: 1.5rem;
    width: calc(100% - 2.75rem);
    display: block;
    color: white;
}